[submodule "backend"]
	path = backend
	url = https://github.com/AtlazDB/Atlaz-BackEnd
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/AtlazDB/Atlaz-FrontEnd
	branch = main
